body{
    background-color: #EAF6F6;
}

h1, h3{
    color: #66BFBF;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 30%;
}

img{
    border-radius: 100%;
    border: solid black 2px;
    height: 250px;
    width: 250px;
}